<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/btc.png" alt="smoothie recipe icon">
    <h4>Bitcoin</h4>
    <p>Current price</p>
    <p>$69952.8</p>
  </li>
  <li class="recipe">
    <img src="/eth.png" alt="smoothie recipe icon">
    <h4>Ethereum</h4>
    <p>Current price</p>
    <p>$3802.17</p>
  </li>
  <li class="recipe">
    <img src="/tether.png" alt="smoothie recipe icon">
    <h4>Tehter USDT</h4>
    <p>Current price</p>
    <p>$1</p>
  </li>
  <li class="recipe">
    <img src="/solana.png" alt="smoothie recipe icon">
    <h4>Solana</h4>
    <p>Current price</p>
    <p>$164.27</p>
  </li>
  <li class="recipe">
    <img src="/dogecoin.png" alt="smoothie recipe icon">
    <h4>Dogecoin </h4>
    <p>Current price</p>
    <p>$0.1604</p>
  </li>
  <li class="recipe">
    <img src="/pepe.png" alt="smoothie recipe icon">
    <h4>Pepe coin</h4>
    <p>Current price</p>
    <p>$0.00001495</p>
  </li>
</ul>

<%- include('partials/footer'); -%>